a.headerlink {
  text-decoration: none;
  margin-inline-start: 0.2em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover > a.headerlink {
    visibility: visible;
    opacity: 1;
  }
}

blockquote {
  display: block;
  margin-block: 0;
  margin-inline: 0;

  margin: 1.5rem 0;
  padding: 0.5rem;
  padding-left: 1rem;
  background: rgba(207, 245, 255, 0.07);
  border-left: 5px solid var(--primary-color-lighten-3);
}

table,
th,
td {
  border: 1px solid var(--primary-color-lighten-3);
  border-collapse: collapse;
}
th,
td {
  padding: 0.5em;
}
th {
  background: rgba(166, 234, 255, 0.2);
}

.admonition {
  padding: 0.3rem 1rem;
  width: 90%;

  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  &-title {
    position: relative;
    width: max-content;
    font-weight: bold;
    margin-block: 0;
    margin-inline: 0;
    padding: 1em 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .info {
    background-color: rgba(0, 128, 153, 0.28);
    border-color: #00d5ff;
    color: #00d5ff;
  }

  .warning {
    background: rgba(153, 89, 0, 0.28);
    border-color: #ffbf66;
    color: #ffbf66;
  }
}
